<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Provincia maxima de cada Categoria</title>
    <link rel="stylesheet" href="/assets/dashboard.css">

    <style>
        .solicitud-botones form {
            display: inline-block;
        }
    </style>
</head>
<body class="dashboard-body">

<div class="dashboard-container">
    {{> templates/dashboard/_sidebar}}

    <main class="main-content">
        <header class="main-header">
            <h1>La provincia con mayor cantidad de Hechos</h1>
        </header>

        <section class="solicitudes-lista">

            <h2>Categoria Provincia Maxima</h2>
            <style> table, th, td {border: 1px solid black;} table { border-collapse: collapse; } </style>
            <table class="tabla">
            <thead><tr><th>Fecha</th><th>Categoria</th><th>Provincia</th><th>Cantidad de Hechos</th></tr></thead>
            <tbody>
            {{#each reporte}}
                        <tr>
                            <td style="text-align: center;">{{fecha}}</td>
                            <td style="text-align: center;">{{this.categoria}}</td>
                            <td style="text-align: center;">{{this.provincia}}</td>
                            <td style="text-align: center;">{{this.cantidad}}</td>
                        </tr>
            {{/each}}
            </tbody>
            </table>

            <h3>Exportar Archivo</h3>
                <a class="btn" href="/descargar/estadisticas_categoria_hechosmaximos.csv" download>Exportar CSV<a/>

        </section>

    </main>
</div>
</body>
</html>