<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hora Pico de cada Categoria</title>
    <link rel="stylesheet" href="/assets/dashboard.css">
</head>
<body class="dashboard-body">

<div class="dashboard-container">
    {{> templates/dashboard/_sidebar}}

    <main class="main-content">
        <header class="main-header">
            <h1>Hora Pico de cada Categoria</h1>
        </header>

        <section class="solicitudes-lista">

            <h2>Horas Pico de Hechos</h2>
            <table class="tabla tabla-bordered">
            <thead><tr><th>Fecha</th><th>Categoria</th><th>Horario Pico</th><th>Cantidad de Hechos</th></tr></thead>
            <tbody>
            {{#each reporte}}
                        <tr>
                            <td class="text-center">{{fecha}}</td>
                            <td class="text-center">{{this.categoria}}</td>
                            <td class="text-center">{{this.hora_pico}}</td>
                            <td class="text-center">{{this.cantidad}}</td>
                        </tr>
            {{/each}}
            </tbody>
            </table>

            <h3>Exportar Archivo</h3>
                <a class="btn" href="/descargar/estadisticas_categoria_horaspico.csv" download>Exportar CSV<a/>

        </section>

    </main>
</div>
</body>
</html>