<aside class="sidebar">
    <h3>Panel de Control</h3>
    <nav class="sidebar-nav">
        <ul>
            <li class="active"><a href="">Resumen</a></li>

            <li>
                <details class="nav-dropdown">
                    <summary>Consultar estadísticas</summary>
                    <ul class="nav-submenu">
                        <li><a href="">Cantidad de spam</a></li>
                        <li><a href="">Categoria hora pico</a></li>
                        <li><a href="">Categoria maxima</a></li>
                        <li><a href="">Provincias con mas hechos por categorias</a></li>
                        <li><a href="">Provincias con mas hechos por colecciones</a></li>
                    </ul>
                </details>
            </li>
            <li><a href="/dashboard/solicitudes">Gestionar solicitudes</a></li>
            <li><a href="/dashboard/coleccion">Crear coleccion</a></li>
        </ul>
    </nav>

    <div class="sidebar-footer">
        <a href="/home">Volver al Home</a>
        <a href="/logout">Cerrar Sesión</a>
    </div>
</aside>